<div
  id="shopify-section-bbcbb7e2-12e0-446a-a6db-2c186b84babc"
  class="shopify-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;bbcbb7e2-12e0-446a-a6db-2c186b84babc&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}"
>
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item">
        <style>
          #FeatureRowImage-bbcbb7e2-12e0-446a-a6db-2c186b84babc {
            max-width: 644.731977818854px;
            max-height: 545px;
          }

          #FeatureRowImageWrapper-bbcbb7e2-12e0-446a-a6db-2c186b84babc {
            max-width: 644.731977818854px;
          }
        </style>

        <div
          id="FeatureRowImageWrapper-bbcbb7e2-12e0-446a-a6db-2c186b84babc"
          class="feature-row__image-wrapper js"
        >
          <div style="padding-top:84.53124999999999%;">
            <img
              id="FeatureRowImage-bbcbb7e2-12e0-446a-a6db-2c186b84babc"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.1829944547134936"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/1_180x.jpg?v=1667411993 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_360x.jpg?v=1667411993 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_540x.jpg?v=1667411993 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_720x.jpg?v=1667411993 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_900x.jpg?v=1667411993 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1080x.jpg?v=1667411993 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1296x.jpg?v=1667411993 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1512x.jpg?v=1667411993 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1728x.jpg?v=1667411993 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_2048x.jpg?v=1667411993 2048w"
              sizes="470px"
              srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/1_180x.jpg?v=1667411993 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_360x.jpg?v=1667411993 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_540x.jpg?v=1667411993 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_720x.jpg?v=1667411993 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_900x.jpg?v=1667411993 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1080x.jpg?v=1667411993 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1296x.jpg?v=1667411993 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1512x.jpg?v=1667411993 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_1728x.jpg?v=1667411993 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/1_2048x.jpg?v=1667411993 2048w"
            >
          </div>
        </div>

        <noscript>
          <img
            src="//cdn.shopify.com/s/files/1/0664/3544/9075/files/1_600x600@2x.jpg?v=1667411993"
            class="feature-row__image"
          >
        </noscript>
      </div>

      <div class="feature-row__item feature-row__text feature-row__text--left">
        <h2
          class="h3"
          data-live-text-setting="section.bbcbb7e2-12e0-446a-a6db-2c186b84babc.title/escape"
        >
          Image with text
        </h2>

        <div
          class="rte rte-setting featured-row__subtext"
          data-live-text-setting="section.bbcbb7e2-12e0-446a-a6db-2c186b84babc.text"
        >
          <p>
            Pair large text with an image to give focus to your chosen product,
            collection, or blog post. Add details on availability, style, or
            even provide a review.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="shopify-section-82956c18-2c12-416e-b2d7-364021fba3f0"
  class="shopify-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;82956c18-2c12-416e-b2d7-364021fba3f0&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}"
>
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item feature-row__text feature-row__text--right">
        <h2
          class="h3"
          data-live-text-setting="section.82956c18-2c12-416e-b2d7-364021fba3f0.title/escape"
        >
          Image with text
        </h2>

        <div
          class="rte rte-setting featured-row__subtext"
          data-live-text-setting="section.82956c18-2c12-416e-b2d7-364021fba3f0.text"
        >
          <p>
            Pair large text with an image to give focus to your chosen product,
            collection, or blog post. Add details on availability, style, or
            even provide a review.
          </p>
        </div>
      </div>

      <div class="feature-row__item">
        <style>
          #FeatureRowImage-82956c18-2c12-416e-b2d7-364021fba3f0 {
            max-width: 645.9259259259259px;
            max-height: 545px;
          }

          #FeatureRowImageWrapper-82956c18-2c12-416e-b2d7-364021fba3f0 {
            max-width: 645.9259259259259px;
          }
        </style>

        <div
          id="FeatureRowImageWrapper-82956c18-2c12-416e-b2d7-364021fba3f0"
          class="feature-row__image-wrapper js"
        >
          <div style="padding-top:84.37500000000001%;">
            <img
              id="FeatureRowImage-82956c18-2c12-416e-b2d7-364021fba3f0"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.1851851851851851"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/3_180x.jpg?v=1667412030 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_360x.jpg?v=1667412030 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_540x.jpg?v=1667412030 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_720x.jpg?v=1667412030 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_900x.jpg?v=1667412030 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1080x.jpg?v=1667412030 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1296x.jpg?v=1667412030 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1512x.jpg?v=1667412030 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1728x.jpg?v=1667412030 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_2048x.jpg?v=1667412030 2048w"
              sizes="470px"
              srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/3_180x.jpg?v=1667412030 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_360x.jpg?v=1667412030 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_540x.jpg?v=1667412030 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_720x.jpg?v=1667412030 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_900x.jpg?v=1667412030 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1080x.jpg?v=1667412030 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1296x.jpg?v=1667412030 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1512x.jpg?v=1667412030 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_1728x.jpg?v=1667412030 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/3_2048x.jpg?v=1667412030 2048w"
            >
          </div>
        </div>

        <noscript>
          <img
            src="//cdn.shopify.com/s/files/1/0664/3544/9075/files/3_600x600@2x.jpg?v=1667412030"
            class="feature-row__image"
          >
        </noscript>
      </div>
    </div>
  </div>
</div>

<div
  id="shopify-section-7897ee35-f459-48b9-8237-fdd090734015"
  class="shopify-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;7897ee35-f459-48b9-8237-fdd090734015&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}"
>
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item">
        <style>
          #FeatureRowImage-7897ee35-f459-48b9-8237-fdd090734015 {
            max-width: 644.731977818854px;
            max-height: 545px;
          }

          #FeatureRowImageWrapper-7897ee35-f459-48b9-8237-fdd090734015 {
            max-width: 644.731977818854px;
          }
        </style>

        <div
          id="FeatureRowImageWrapper-7897ee35-f459-48b9-8237-fdd090734015"
          class="feature-row__image-wrapper js"
        >
          <div style="padding-top:84.53124999999999%;">
            <img
              id="FeatureRowImage-7897ee35-f459-48b9-8237-fdd090734015"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.1829944547134936"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/2_180x.jpg?v=1667412053 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_360x.jpg?v=1667412053 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_540x.jpg?v=1667412053 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_720x.jpg?v=1667412053 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_900x.jpg?v=1667412053 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1080x.jpg?v=1667412053 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1296x.jpg?v=1667412053 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1512x.jpg?v=1667412053 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1728x.jpg?v=1667412053 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_2048x.jpg?v=1667412053 2048w"
              sizes="470px"
              srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/2_180x.jpg?v=1667412053 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_360x.jpg?v=1667412053 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_540x.jpg?v=1667412053 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_720x.jpg?v=1667412053 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_900x.jpg?v=1667412053 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1080x.jpg?v=1667412053 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1296x.jpg?v=1667412053 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1512x.jpg?v=1667412053 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_1728x.jpg?v=1667412053 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/2_2048x.jpg?v=1667412053 2048w"
            >
          </div>
        </div>

        <noscript>
          <img
            src="//cdn.shopify.com/s/files/1/0664/3544/9075/files/2_600x600@2x.jpg?v=1667412053"
            class="feature-row__image"
          >
        </noscript>
      </div>

      <div class="feature-row__item feature-row__text feature-row__text--left">
        <h2
          class="h3"
          data-live-text-setting="section.7897ee35-f459-48b9-8237-fdd090734015.title/escape"
        >
          Image with text
        </h2>

        <div
          class="rte rte-setting featured-row__subtext"
          data-live-text-setting="section.7897ee35-f459-48b9-8237-fdd090734015.text"
        >
          <p>
            Pair large text with an image to give focus to your chosen product,
            collection, or blog post. Add details on availability, style, or
            even provide a review.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="shopify-section-b510bd8c-6cc0-47c3-836c-082ed2f9d14b"
  class="shopify-section"
  data-shopify-editor-section="{&quot;id&quot;:&quot;b510bd8c-6cc0-47c3-836c-082ed2f9d14b&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;disabled&quot;:false}"
>
  <div class="page-width feature-row">
    <div class="feature-row">
      <div class="feature-row__item feature-row__text feature-row__text--right">
        <h2
          class="h3"
          data-live-text-setting="section.b510bd8c-6cc0-47c3-836c-082ed2f9d14b.title/escape"
        >
          Image with text
        </h2>

        <div
          class="rte rte-setting featured-row__subtext"
          data-live-text-setting="section.b510bd8c-6cc0-47c3-836c-082ed2f9d14b.text"
        >
          <p>
            Pair large text with an image to give focus to your chosen product,
            collection, or blog post. Add details on availability, style, or
            even provide a review.
          </p>
        </div>
      </div>

      <div class="feature-row__item">
        <style>
          #FeatureRowImage-b510bd8c-6cc0-47c3-836c-082ed2f9d14b {
            max-width: 584.3204697986578px;
            max-height: 545px;
          }

          #FeatureRowImageWrapper-b510bd8c-6cc0-47c3-836c-082ed2f9d14b {
            max-width: 584.3204697986578px;
          }
        </style>

        <div
          id="FeatureRowImageWrapper-b510bd8c-6cc0-47c3-836c-082ed2f9d14b"
          class="feature-row__image-wrapper js"
        >
          <div style="padding-top:93.27073552425665%;">
            <img
              id="FeatureRowImage-b510bd8c-6cc0-47c3-836c-082ed2f9d14b"
              class="feature-row__image lazyautosizes ls-is-cached lazyloaded"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.0721476510067114"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/4_180x.jpg?v=1667412071 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_360x.jpg?v=1667412071 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_540x.jpg?v=1667412071 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_720x.jpg?v=1667412071 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_900x.jpg?v=1667412071 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1080x.jpg?v=1667412071 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1296x.jpg?v=1667412071 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1512x.jpg?v=1667412071 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1728x.jpg?v=1667412071 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_2048x.jpg?v=1667412071 2048w"
              sizes="470px"
              srcset="//cdn.shopify.com/s/files/1/0664/3544/9075/files/4_180x.jpg?v=1667412071 180w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_360x.jpg?v=1667412071 360w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_540x.jpg?v=1667412071 540w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_720x.jpg?v=1667412071 720w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_900x.jpg?v=1667412071 900w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1080x.jpg?v=1667412071 1080w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1296x.jpg?v=1667412071 1296w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1512x.jpg?v=1667412071 1512w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_1728x.jpg?v=1667412071 1728w, //cdn.shopify.com/s/files/1/0664/3544/9075/files/4_2048x.jpg?v=1667412071 2048w"
            >
          </div>
        </div>

        <noscript>
          <img
            src="//cdn.shopify.com/s/files/1/0664/3544/9075/files/4_600x600@2x.jpg?v=1667412071"
            class="feature-row__image"
          >
        </noscript>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
